


html,
.body {
  padding: 100;
  margin: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#components-layout-demo-fixed .logo {
  background: rgba(255, 255, 255, 0.2);
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #495FEF !important;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #495FEF !important;
}
.ant-menu-horizontal {
  line-height: 46px;
  border: 0;
  border-bottom: 1px solid transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.background-image {
  
  
  height: 96px !important;
  line-height: 96px !important;
}
.menuitem-drawer {
  font-size: 15px !important;
    font-weight: 700 !important;
}
.logo {
  
  margin-right: 20% !important;
  margin-left: 14% !important;

}
.backtop {
  display: none !important;
}

.ant-drawer-content-wrapper{
  height: 100% !important;
}
.lineoutlined{
  font-size: 35px !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  color: #495FEF;
  margin-left: 15%;

}
.button-menu {
 display: none !important;
}
.button-contact{
  background-color: rgb(86, 179, 129) !important;
    border-color: white !important;
    border-radius: 50rem !important;
    box-shadow: rgb(3 3 3 / 14%) 0px 32px 54px !important;
    height: 65px !important;
    width: 250px !important;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    
}
.button-contact:hover{
  transform: translateY(-10px) !important;
}
.color-menu {
  color: black !important;
}
.icon-drawer {
  text-align: center;
    margin-top: 30%;
    font-size: 24px;
    color: grey;
}
.contact-drawer-button {
  background-color: #495FEF !important;
    border-color: #495FEF !important;
    color: rgb(253, 255, 255) !important;
    border-radius: 10px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block !important;
    margin-top: 10% !important;
    width: 34% !important;
    height: 8% !important;
}
.risoluzione {
  display: none !important;
}
.ant-drawer-close {
  position: absolute;
  --scroll-bar: 0px !important;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 50px !important;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
  font-size: 27px !important;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-rendering: auto;
}

.margin-linkedin {
  margin-left: 25% !important;
  
}
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #495FEF !important;
}
.ant-layout-footer {
  padding: 90px 130px !important;
  color: #001c29 !important;
  font-size: 20px !important;
  background-color: white !important;
  
}
.ant-layout {
  display: -moz-box;
  display: flex;
  -moz-box-flex: 1;
  flex: auto;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  min-height: 0;
  background: white !important;
}

.footer-text {
  font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1;
    color: rgb(22, 28, 45);
    text-align: center !important;
}
.footer {
text-align: center !important;
}

.sfondo-onda {
  width: 100%;
  margin-top: -12%;
}
.input {
   margin-left: auto !important;
   margin-right: auto !important;
}
textarea.ant-input {
      max-width: 100% !important;
      
     
}
.ant-input {
  box-sizing: border-box;
}
.ant-input:hover {
  border-color: #495FEF !important;
  
}
.card {
  margin-left: auto !important;
   margin-right: auto !important;
   width: 60%;
   height: 360px;
   border-radius: 30px !important;
}
.main-title {
  
  
  font-weight: 700;
  margin-bottom: 0px;
  color: rgb(22, 28, 45) !important;
  letter-spacing: -2.81px;
  font-size: 62px !important;
  line-height: 56px;
  font-size: 56px !important;
}
.main-subtitle{
  margin-top: 220px;
  font-size: 0.8125rem;
    line-height: 1.63;
    letter-spacing: 1.63px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(22, 28, 45);
    margin-bottom: 40px;
}
.ant-carousel .slick-list .slick-slide.slick-active {
  pointer-events: none !important;
}
.title-paragraph {
  color: black !important;
  text-align: center ;
  margin-left: auto ;
  margin-right: auto ;
  font-size: 35px ;
  font-weight: 600;
  margin-top: 70px;
}
.title-contact {
  font-weight: 700 !important;
    letter-spacing: -2.5px !important;
    font-size: 60px !important;
    line-height: 70px !important;
    margin-bottom: 0px !important;
    color: rgb(22, 28, 45) !important;
    text-align: center;
    padding: 55px 20% 45px 20%;
}
.about-image {
  float: right;
   width: 25%;
    margin-right: 20%;
}
.timeline {
  width: 95%; 
  margin-top: 100px !important;
}

.timeline-mobile {
  width: 91%;
    margin-top: 100px !important;
    margin-left: 20px !important;
  display: none !important;
}

.form {
  width: 50%;
    float: right;
    margin-right: 5% !important;
    margin-top: 10px !important;
    border-radius: 20px !important;
    
}
.form-mobile {
  display: none !important;
}


.ant-timeline-item-head-blue {
  color: #495FEF !important;
  border-color: #495FEF !important;
}
.title-paragraph2 {
  color: black !important;
    margin-left: 15%;
    font-size: 42px !important;
    padding-bottom: 15px;
    margin-top: 70px;
}
.paragraph2 {
  margin-left: 15%;
  font-size: 24px;
  word-spacing: 4px;
  font-weight: 100;
}
.paragraph-contact {
  margin-bottom: 0px;
    font-size: 0.8125rem;
    line-height: 1.63;
    letter-spacing: 1.63px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(22, 28, 45);
  text-align: center !important;
}
.contact {
  font-size: 14px;
    font-style: italic;
    color: black;
}
.contact-pc {
  margin-top: 50px;
  margin-bottom: 70px;
}
.boxshadow_card{
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  width: 280px !important;
   border-radius: 40px !important;

}
.boxshadow-card-mobile{
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  width: 250px !important;
   border-radius: 40px !important;
   margin-bottom: 70px !important;
   text-align: center;
   margin-right: auto !important;
    margin-left: auto !important;
    display: block;
}
.carousel-mobile {
  margin-top: 50px;
  display: none !important;
}

.ant-col-6 {
  display: block;
  -moz-box-flex: 0;
  flex: 0 0 15% !important;
  max-width: 25%;
}
.main-scroll{
    background-color: rgb(73, 95, 239) !important;
    border-color: white !important;
    border-radius: 50rem !important;
    box-shadow: rgb(3 3 3 / 14%) 0px 32px 54px !important;
    height: 65px !important;
    width: 250px !important;
    margin-top: 80px !important;
}
.main-scroll:hover{
  transform: translateY(-10px) !important;
}
main h3.animated{
  animation-duration: 2.5s;
animation-iteration-count: infinite;
}
.main-icon {
  margin-top: 140px;
  display: inline-grid;
  margin-left: 20px !important;
  color: rgb(119, 119, 121);
  font-size: 2rem;
  position: fixed;
  z-index: 1 !important;
}
.text-carousel {
  color: black !important;
}
.ant-carousel .slick-dots li.slick-active button {
  background: black !important;
  opacity: 1;
}
.avatar{
  width: 90%;
  padding-top: 150px;
  margin-left: 22%;
}
.div-avatar{
  display: none !important;
}
.main-avatar{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}
.job {
  margin-left: 25%;
    margin-top: 2px;
    font-size: 32px;
    font-weight: 100;
    font-style: oblique;
    font-family: fantasy;
    word-spacing: 12px;
    
}
.testolavoro {
  margin-top: 8px;
  font-size: 21px;
  font-style: italic !important;
  font-weight: 900 !important;
  text-align: center !important;
  word-spacing: 2px;

  
}


.ant-carousel .slick-dots li button {
  display: block;
  width: 100%;
  height: 3px;
  padding: 0;
  color: transparent;
  font-size: 0;
  background: grey !important;
  border: 0;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.button-submit{
  border-block: white;
  border-radius: 4px;
  background-color: #495FEF;
  color: white;
  margin-right: 20px;
  width: 80px;
  height: 33px;
  border-inline: white;
}
.button-reset {
  border-block: white;
    background-color: white;
    color: grey;
    border-inline: white;
}
.input-email {
  margin-bottom: 20px;
  width: 88%;
  margin-left: 10px;
}
.text-machine {
  margin-left: auto;
    color: grey !important;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fafafa;
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
    line-height: 20px;
}
.ant-carousel .slick-dots{
  z-index: 1 !important;
}
.image_timeline {
  width: 50%;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5%;
}

.title_timeline{
  font-weight: 400;
  color: black !important;
  margin-right: 20px;

}
.main-paragraph {
  font-size: 17px;
    color: black;
    opacity: 0.85;
    line-height: 30px;
}

h1, h3, h4, h5, h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgb(255, 255, 255) !important;
  font-weight: 500;
}
.anticon {
  margin-left: auto;
  margin-right: auto;
  
}
.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button {
  background-color:#495FEF !important;
  margin-top: 10px;
  width: 100%;
  color: white !important;
  
}


.ant-btn:hover, .ant-btn:focus {
  color: black !important;
  background: #fff;
  border-color: white !important;
}
.ant-btn:active {
  color: white !important;
  background: #fff;
  border-color:white !important;
}


/*header quando non e trasparente*/
.ant-menu.ant-menu-dark {
  color: rgba(255, 255, 255, 0.65);
  background: #0a0a0a !important;
}
.ant-layout-header {
  height: 70px !important;
  padding: 0 0px !important;
  line-height: 65px !important;
  background: white !important;
  box-shadow: rgb(65 62 101 / 10%) 0px 12px 34px -11px;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
  background: #495FEF !important;
}
.ant-btn-primary {
  border-color: #495FEF !important;
  background: #495FEF !important;
  
}


::-webkit-scrollbar{
  width:0.8em;
  height:0.8em;
background: white;
margin-right: 10px;
}
::-webkit-scrollbar:hover{
  background-color: white ;
border: none;
}
::-webkit-scrollbar-thumb{
  min-height:0.8em;
  min-width:0.8em;
  
  background-color: grey;
border: none;
border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: grey;
border: none;

}
::-webkit-scrollbar-thumb:active{
  background-color: grey;
border: none;

}

.second-title {
  color: black;
  padding-top: 40px;
  letter-spacing: 10px;
}
.second-paragraph {
  color: gray;
  text-align: center;
  font-size: 10px;
}
.anticon > * {
  line-height: 1;
  position: relative;
  z-index: 1;
}
::selection {
  color: #fff;
  background: #495FEF !important;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date-today, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date-today {
  background: #495FEF !important;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date .ant-picker-calendar-date-value, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date .ant-picker-calendar-date-value, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected .ant-picker-calendar-date-today .ant-picker-calendar-date-value, .ant-picker-calendar-full .ant-picker-panel .ant-picker-cell-selected:hover .ant-picker-calendar-date-today .ant-picker-calendar-date-value {
  color: #495FEF !important;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-today {
  border-color: #495FEF !important;
}
/*Header Trasparente*/
header.ant-layout-header.header {
  background: transparent !important;
}
ul.ant-menu.ant-menu-dark.menu.ant-menu-root.ant-menu-horizontal {
  background: transparent !important;
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
  border-right-color: #495FEF !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
  border-color: #495FEF !important;
}
.ant-select-selector {
  border-color: #495FEF !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #495FEF !important;
  background: #fff;
  border-color: #495FEF !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #495FEF !important;
}
.rc-virtual-list-scrollbar-thumb {
  background: #495FEF !important;
}

.ant-progress {
  box-sizing: border-box;
  margin: 0;
  padding: 20px !important;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  display: flex !important;
}
.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color: #495FEF !important;
}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid #495FEF !important;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent !important;

}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid transparent !important;
}
.ant-menu-submenu-selected {
  color: #495FEF !important;
}
.ant-menu-item-selected {
  color: #001c29 !important;
}
i.ant-menu-submenu-arrow {
  color: #495FEF !important;
}

html {
  --antd-wave-shadow-color: #495FEF !important ;
  --scroll-bar: 0;
  scroll-behavior: smooth;
}
span.ant-select-arrow {
  top: -16%!important;
}
.ant-alert-info {
  background-color: #9AFCD5 !important;
  border: 1px solid #495FEF !important;
  width: 25%;
}
.input-emotion {
  padding: 5px;
}
input, button, select, optgroup, textarea {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.ant-radio-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  display: none !important;
  font-size: 0;
  line-height: unset;
}
.ant-select {
  box-sizing: border-box;
  margin: 20px !important;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  cursor: pointer;
}


