
@media screen and (max-width: 1288px){
    .logo {
  
        margin-right: 20% !important;
        margin-left: 9% !important;
      
      }
      .boxshadow_card{
        
        width: 250px !important;
         
      }
     
     
}
@media screen and (max-width: 1052px){
  .logo {

      margin-right: 20% !important;
      margin-left: 4% !important;
    
    }
    .margin-linkedin {
      margin-left: 20% !important;
    }
    .boxshadow_card{
        
      width: 220px !important;
       
    }
    .text-machine {
        font-size: 17px;

    }
    
   
   
}
@media screen and (max-width: 957px){
  .boxshadow_card{
        
    width: 200px !important;
     
  }
  .text-machine {
    font-size: 14px;

}

}
@media screen and (max-width: 858px){
  .logo {

    margin-right: 15% !important;
    margin-left: 4% !important;
  
  }
  .job {
      font-size: 29px;
      
      
  }
  .boxshadow_card{
        
    width: 180px !important;
     
  }
  .form {
    width: 46%;
      
  }
  
    .margin-linkedin {
      margin-left: 15% !important;
    }
    .avatar{
      
        padding-top: 220px;
        margin-left: 40%;
    }
    
    
   
   
}
@media screen and (max-width: 768px){
  .sfondo-onda {
    margin-top: -12%;
  }
  .avatar {
    display: none !important;
  }
  .title-contact {
    
      font-size: 50px !important;
      
  }
  .div-avatar {
    display: inherit !important;
    width: 67% !important;
    margin-right: auto;
    margin-left: auto;
  }
  .job {
    display: none !important;
  }
  .main-scroll{
    margin-top: 60px !important;
}
  .main-subtitle{
    margin-top: 180px;
  }
  .form {
    width: 42%;
      
  }
  .boxshadow_card{
        
    width: 170px !important;
     
  }
  .carousel {
    display: none !important;
  }
  .carousel-mobile {
    
    display: inherit !important;
  }
}
@media screen and (max-width: 724px){
    .margin-linkedin {
      margin-left: 10% !important;
    }
    .form {
      width: 40%;
        
    }
   
   
}
@media screen and (max-width: 670px){
  .logo {

    margin-right: 14% !important;
    margin-left: 4% !important;
  
  }
  .form {
    display: none !important;
      
  }
  .form-mobile {
    display: inherit !important;
    width: 75%;
    margin-top: 10px !important;
    border-radius: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .margin-linkedin {
    margin-left: 5% !important;
  }
  
 
}
@media screen and (max-width: 616px){
  .logo {

    margin-right: 10% !important;
    margin-left: 4% !important;
  
  }
  .margin-title {
    font-size: 51px !important;
  }
  .title-contact {
    
    font-size: 47px !important;
    line-height: 50px !important;
    
}
  
 
 
}
@media screen and (max-width: 589px){
  .sfondo-onda {
    width: 100%;
    margin-top: -10%;
  }
  .about-image {
    display: none !important;
  }
  .main-subtitle{
    margin-top: 140px;
    
  }
  .main-title {
    font-size: 50px !important;
  }
  .button-menu {
    display: inherit !important;
    font-size: 24px !important;
  }
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
    border-bottom: 2px solid transparent !important;
  }
  
  
  .backtop {
    display: inherit !important;
  }
  .menuitem-drawer {
    display: none !important;
  }
  .margin-linkedin {
    display: none !important;
  }
  .main-icon{
    display: none !important;
  }
  .logo {

    margin-right: 68% !important;
    margin-left: 4% !important;
  
  }
  .ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    font-size: 24px !important;
    }
    .main-div {
      margin-left: 10%;
    }
 .main-paragraph {
  text-align: center;
}
.main-scroll {
  text-align: center;
}



.main-scroll {
  line-height: 6;
}
.form-mobile {
  display: inherit !important;
  width: 75%;
  margin-top: 10px !important;
  border-radius: 20px !important;
  margin-left: auto !important;
    margin-right: auto !important;
}
.ant-layout-footer {
  padding: 75px 10px !important;
  
  
}
.title-contact {
    
  font-size: 42px !important;
  line-height: 50px !important;
  padding: 55px 10% 45px 10%;
  
}

}
@media screen and (max-width: 480px){
  .logo {

    margin-right: 62% !important;
    margin-left: 4% !important;
  
  }
  .main-title {
    font-size: 43px !important;
    line-height: 47px !important;
  }
  
  .timeline {
    display: none !important;
  }
  .timeline-mobile {
    display: inherit !important;
  }
  
  .sfondo-onda {
    width: 100%;
    margin-top: -12%;
  }
  
 
}


@media screen and (max-width: 396px){
  
  .sfondo-onda {
    width: 100%;
    margin-top: -13%;
  }
  .text-machine {
    font-size: 13px;
    

}
.main-title {
  font-size: 41px !important;
}
  
 
}
@media screen and (max-width: 376px){
  
  .logo {

    margin-right: 53% !important;
    margin-left: 4% !important;
  
  }
  .main-title {
    font-size: 38px !important;
  }
  
  
  .main-paragraph {
    font-size: 15px;
  }
 
.contact-drawer-button {
    
  width: 50% !important;
  
}
.anticon anticon-line{
  width: 70% !important;
}
.title-contact {
    
  font-size: 42px !important;
  line-height: 50px !important;
  padding: 55px 5% 45px 5%;
  
}


 
}

@media screen and (max-width: 281px){
  .sfondo-onda {
    width: 100%;
    margin-top: -15%;
  }
}
@media screen and (max-width: 251px){
  
.ant-layout-footer{
    display: none !important;
  }
  .ant-layout-content{
    display: none !important;
  }
  .ant-layout-header {
    display: none !important;
}
.background-image2 {
  display: none !important;
}
.sfondo-onda {
  display: none !important;
}

.risoluzione {
  display: inherit !important;
    
    text-align: center;
    margin-top: 100%;
    padding: 20px;
    font-size: 20px !important;
}
}