
@media screen and (max-width: 1288px){
    .logo {
  
        margin-right: 20% !important;
        margin-left: 9% !important;
      
      }
      .boxshadow_card{
        
        width: 250px !important;
         
      }
     
     
}
@media screen and (max-width: 1052px){
  .logo {

      margin-right: 20% !important;
      margin-left: 4% !important;
    
    }
    .margin-linkedin {
      margin-left: 20% !important;
    }
    .boxshadow_card{
        
      width: 220px !important;
       
    }
    .text-machine {
        font-size: 17px;

    }
    
   
   
}
@media screen and (max-width: 957px){
  .boxshadow_card{
        
    width: 200px !important;
     
  }
  .text-machine {
    font-size: 14px;

}

}
@media screen and (max-width: 858px){
  .logo {

    margin-right: 15% !important;
    margin-left: 4% !important;
  
  }
  .boxshadow_card{
        
    width: 180px !important;
     
  }
  .form {
    width: 46%;
      
  }
  
    .margin-linkedin {
      margin-left: 15% !important;
    }
    .avatar{
      width: 40%;
        padding-top: 220px;
        margin-left: 40%;
    }
    .main-title {
      margin-top: 200px;
      font-size: 2.8rem !important;
      color: rgb(246, 246, 246) !important;
      opacity: 0.98 !important;
      font-weight: 400;
      line-height: 60px;
      
    
    }
    
   
   
}
@media screen and (max-width: 766px){
  .avatar {
    display: none !important;
  }
  .job {
    display: none !important;
  }
  .form {
    width: 42%;
      
  }
  .boxshadow_card{
        
    width: 170px !important;
     
  }
  .carousel {
    display: none !important;
  }
  .carousel-mobile {
    
    display: inherit !important;
  }
}
@media screen and (max-width: 724px){
    .margin-linkedin {
      margin-left: 10% !important;
    }
    .about-image {
      display: none !important;
    }
    .form {
      width: 40%;
        
    }
    .footer {
      background-image: url('/sfondo_footer.png')!important;
      height: 190px;
      width: 100%;
    }
   
}
@media screen and (max-width: 670px){
  .logo {

    margin-right: 14% !important;
    margin-left: 4% !important;
  
  }
  .form {
    display: none !important;
      
  }
  .form-mobile {
    display: inherit !important;
    width: 75%;
    margin-top: 10px !important;
    border-radius: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .margin-linkedin {
    margin-left: 5% !important;
  }
  
 
}
@media screen and (max-width: 616px){
  .logo {

    margin-right: 10% !important;
    margin-left: 4% !important;
  
  }
  
 
 
}
@media screen and (max-width: 589px){
  
  .button-menu {
    display: inherit !important;
    font-size: 24px !important;
  }
  
  .backtop {
    display: inherit !important;
  }
  .menuitem-drawer {
    display: none !important;
  }
  .margin-linkedin {
    display: none !important;
  }
  .main-icon{
    display: none !important;
  }
  .logo {

    margin-right: 65% !important;
    margin-left: 4% !important;
  
  }
  .ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    font-size: 24px !important;
    }
    .main-div {
      margin-left: 22%;
    }
 .main-title {
   text-align: center;
   margin-top: 150px !important;
 }
 .main-paragraph {
  text-align: center;
}
.main-subtitle {
  text-align: center;
}
.main-scroll {
  text-align: center;
}
.div-avatar {
  display: inherit !important;
}
.main-scroll {
  line-height: 6;
}
.form-mobile {
  display: inherit !important;
  width: 75%;
  margin-top: 10px !important;
  border-radius: 20px !important;
  margin-left: auto !important;
    margin-right: auto !important;
}
.ant-layout-footer {
  padding: 75px 10px !important;
  
  
}


}
@media screen and (max-width: 480px){
  .logo {

    margin-right: 59% !important;
    margin-left: 4% !important;
  
  }
  
  .timeline {
    display: none !important;
  }
  .timeline-mobile {
    display: inherit !important;
  }
 
 
}

@media screen and (max-width: 400px){
  
}
@media screen and (max-width: 396px){
  .main-job {
    
    font-size: 25px;

  }
  
  .main-title {
 
    font-size: 2.4rem !important;
    
    
  
  }
 
 
}
@media screen and (max-width: 376px){
  .logo {

    margin-right: 53% !important;
    margin-left: 4% !important;
  
  }
  .main-job {
    
    font-size: 22px;
  }
  .main-title {
 
    font-size: 2.1rem !important;
    
    
  
  }
  .main-paragraph {
    font-size: 15px;
  }
  .text-machine {
    font-size: 14px;
    

}
.contact-drawer-button {
    
  width: 50% !important;
  
}
.anticon anticon-line{
  width: 70% !important;
}

 
}


@media screen and (max-width: 251px){
  
.ant-layout-footer{
    display: none !important;
  }
  .ant-layout-content{
    display: none !important;
  }
  .ant-layout-header {
    display: none !important;
}
.background-image2 {
  display: none !important;
}
.sfondo-onda {
  display: none !important;
}

.risoluzione {
  display: inherit !important;
    
    text-align: center;
    margin-top: 100%;
    padding: 20px;
    font-size: 20px !important;
}
}